
@font-face{
  font-family:'Raleway-Regular';
  src:url('Raleway-Regular.ttf');
}
@font-face{
  font-family:'Raleway-Bold';
  src:url('Raleway-Bold.ttf');
}

body {
  margin: 0;
  padding: 5px;
  color: black;
  background-color: white;
  font-size: 16pt;
  font-family: 'Raleway-Regular', "Century Gothic", arial;
  font-weight: 300;
  /*background-image: url("../pix/bg.gif");*/
}
strong{
  font-family:'Raleway-Bold';
}
a {
  transition: all 0.5s ease;
  color: #39C;
  background-color: white;
  font-weight: 400;
}
a:hover {
  transition: all 0.5s ease;
  color: navy;
  background-color: #FFF8E1;
  text-decoration: none;
}

.helloworld{
  padding: 20px 0;
  min-width: 600px;
}


.clearer{
  clear: both;
}
p.clearer{
  padding-top:25px;
}

.pixShadow,
.pixGroup img{
  position: relative;
  box-shadow: 3px 5px 3px silver;
  margin: 20px 10px 20px 20px;
  border: solid 2px silver;
}
.pixGroup img:hover{
  top: 3px;
  left: 2px;
  box-shadow: 1px 2px 1px silver;
  transition: top 0.6s, left 0.6s;
}


.comicsPix img{
  height: 140px;
  width: 110px;
}
.evolPix img{
  height:159px;
}
.smallPix img{
  height: 140px;
  min-width: 105px;
}
.chakraPix img{
  height: 140px;
}
.moviePix img{
  height: 164px;
  width: 110px;
}

.block{
  display: block;
  clear: both;
}
.linkMore{
  font-size: .9em;
  font-style: italic;
  margin: 0 20px;
}

/* https://gist.github.com/jbergantine/5243223 */
.sociallinks img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .2s ease-in-out;
} 
.sociallinks img {
  margin: 7px 6px 0;
  height:32px;
  width:32px;
  opacity: .4;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .3s ease-in-out;
}
.sociallinks a {
  background-color: white;
}
.avatar-holder{
  float:right;
  text-align: center;
  margin: 0 5px 10px 0;
}
@media only screen and (max-width: 480px) {
  .avatar-holder{
    width:100%;
  }
  .avatar{
    padding:0;
    margin:0;
  }
}
@media only screen and (max-width: 700px) {
  .avatar-holder{
    float:none;
  }
  .helloworld{
    padding: 0;
    margin: 0;
  }
}
.avatar{
  font-family: 'Raleway-Regular', "Century Gothic", arial;
  width: 300px;
  padding: 5px;
  margin: 0 10px 10px 20px;
  background-color: white;
}
.avatar > div > img{
  height: 300px;
  width: 300px;
  cursor: pointer;
  border: solid 3px white;
  border-radius: 10px;
  margin-bottom: 10px;
}
.avatar > div > img:hover{
  border-color: #4dd0e1;
}

.pixTitleHolder{
  position: relative;
  float: left;
}
.pixTitleHolder > a{
  background-color: transparent !important;
}
.pixTitle{
    z-index: 700;
    position: absolute;
    left: 20px;
    top:-7px;
    font-family:'Raleway-Bold';
    padding: 0 5px;
    display: none;
    white-space: nowrap;
    background-color: white;
/*
    font-size: .9em;
    width:300px;
    width:140px;
    overflow: hidden;
    text-overflow: ellipsis;
*/
}

.pixTitleHolder:hover .pixTitle{ 
  display: block;
}

.sTitle{
    position: absolute;
    height: 30px;
    width: 310px;
    top: 142px;
    left: -119px;
    font-size: 2em;
    text-shadow: 1px 1px 1px silver;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.c1 .pixTitle,
.c1>.sTitle{
    color: #e57373;
}
.c1 .pixGroup img:hover{
  border-color: #e57373;
}
.c3 .pixTitle,
.c2 .pixTitle,
.c2>.sTitle{
    color: #ffb74d;
}
.c2 .pixGroup img:hover,
.c3 .pixGroup img:hover{
  border-color: #ffb74d;
}
.c3>.sTitle{
    color: #ffd54f;
}
.c3 .pixGroup img:hover{
  border-color: #ffd54f;
}
.c4 .pixTitle,
.c4>.sTitle{
    color: #81c784;
}
.c4 .pixGroup img:hover{
  border-color: #81c784;
}
.c5 .pixTitle,
.c5>.sTitle{
    color: #4dd0e1;
}
.c5 .pixGroup img:hover{
  border-color: #4dd0e1;
}
.c6 .pixTitle,
.c6>.sTitle{
    color: #7986cb;
}
.c6 .pixGroup img:hover{
  border-color: #7986cb;
}
.c7 .pixTitle,
.c7>.sTitle{
    color: #ba68c8;
}
.c0 .pixTitle{
    color: black;
}
.c8>.sTitle{
    color: silver
}
.c00{
  padding: 0 10px 10px 20px;
}

/*
  clear: both;
*/
section{
  position: relative;
  padding: 10px 10px 10px 100px;
  border-left: solid 4px transparent;
  margin: 20px 45px 20px 5px;
}

@media only screen and (max-width: 480px) {
  .sTitle{
    font-size: 1.2em;
    left: -140px;
  }
  section{ 
    padding: 0 0 10px 45px;
    margin: 20px 45px 20px 5px;
  }

  .c7-dots{
    display: none;
  }
}

section.c8{
    border-color: silver;
}
section.c8:hover{
    border-color: #ffb74d;
}
section.c8:hover > .sTitle{
    color: #ffb74d;
}


section.c1{
    border-color: #e57373;
}
section.c2{
    border-color: #ffb74d;
}
section.c3{
    border-color: #ffd54f;
}
section.c4{
    border-color: #81c784;
}
section.c5{
    border-color: #4dd0e1;
}
section.c6{
    border-color: #7986cb;
}
section.c7{
    border-color: #ba68c8;
}
section.c0{
    z-index: 50;
}

.c7-dots{
  z-index: 1500;
  padding: 5px 0;
  position: fixed;
  top:35px;
  right:-10px;
  width:47px;
}
.c7-dots > a{
  position: relative;
  left: -10px;
  z-index: 1000;
  display: block;
  height: 25px;
  margin: 10px;
  background-color: transparent !important;
  text-decoration: none;
}
.c7-dots > a >.sTitle{
  z-index: 10;
    opacity: 0;
    display: block;
    position: absolute;
    font-size: 1.2em;
    left: -70px;
    top: 65px;
    border: none;
}
.c7-dots > a:hover > .sTitle{
  z-index: 10;
    opacity: 1;
    top: 90px;
    left: -136px;
    transition: left .3s;
}
.c7-dots > a > div{
  z-index: 100;
  position: absolute;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}
.c7-dots > a:hover > div{
  top: -6px;
  left: -6px;
  height: 30px;
  width: 30px;
}

.c7-dots-1>div{
    border-color: #e57373;
    background-color: #e57373;
}
.c7-dots-2>div{
    border-color: #ffb74d;
    background-color: #ffb74d;
}
.c7-dots-3>div{
    border-color: #ffd54f;
    background-color: #ffd54f;
}
.c7-dots-4>div{
    border-color: #81c784;
    background-color: #81c784;
}
.c7-dots-5>div{
    border-color: #4dd0e1;
    background-color: #4dd0e1;
}
.c7-dots-6>div{
    border-color: #7986cb;
    background-color: #7986cb;
}
.c7-dots-7>div{
    border-color: #ba68c8;
    background-color: #ba68c8;
}

.c7-dots-1>span{
    color: #e57373;
}
.c7-dots-2>span{
    color: #ffb74d;
}
.c7-dots-3>span{
    color: #ffd54f;
}
.c7-dots-4>span{
    color: #81c784;
}
.c7-dots-5>span{
    color: #4dd0e1;
}
.c7-dots-6>span{
    color: #7986cb;
}
.c7-dots-7>span{
    color: #ba68c8;
}

.nav{
  color: white;
  background-color: black;
  padding: 8px 10px;
}
.nav > a {
  color: #92cddc;
  background-color: black !important;
  text-decoration: none;
}
.nav > a:hover {
  color: #FF9900;
}

.bottomSpace{
  margin-top:100px;
  height: 40%;
}
