
@font-face{
  font-family:'Raleway-Regular';
  src:url('Raleway-Regular.ttf');
}

@font-face{
  font-family:'Raleway-Bold';
  src:url('Raleway-Bold.ttf');
}

body {
  color: black;
  background-color: white;
  padding: 20px 30px;
  font-size: 16pt;
  font-family: 'Raleway-Regular', "Century Gothic", arial; 
  font-weight: 300;
}
strong{
  font-family:'Raleway-Bold';
}
a {
  color: #39C;
  font-weight: 400;
}
a:hover {
  color: #FF9900;
}

#github {
  position: absolute;
  right: 30px;
  top: 7px;
}
@media only screen and (max-width: 465px) {
  #github {
    display: none;
  }
}

.pixGroup img{
  position: relative;
  box-shadow: 3px 5px 3px grey;
  margin: 10px 10px 20px 20px;
  border: solid 1px silver;
}
.pixGroup img:hover{
  top: 3px;
  left: 2px;
  box-shadow: 1px 2px 1px silver;
  border-color: orange;
  transition: top 0.6s, left 0.6s;
}

.smallPix img{
  height: 140px;
  min-width: 105px;
}
.chakraPix img{
  height: 140px;
}
.mediumPix img{
  height: 200px;
}

.linkMore{
  display: block;
  margin: 0 20px;
}
.sociallinks img{
  margin: 10px 10px 0;
  width:30px;
} 

.avatar-holder{
  float:right;
    text-align: center;
}
.avatar{
  width: 300px;
  padding: 15px;
  margin: 0 10px 10px 20px;
  background-color: white;
}
.avatar > img{
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fourreux{
  margin-top: 50px;
  width: 342px;
  height: 275px;
}

@media only screen and (max-width: 800px) {
  .hideIfSmall {
    display: none;
  }
  .avatar-holder{
    width:100%;
  }
}
