
@font-face{
  font-family:'Raleway-Regular';
  src:url('Raleway-Regular.ttf');
}

@font-face{
  font-family:'Raleway-Bold';
  src:url('Raleway-Bold.ttf');
}

body {
  color: black;
  background-color: white;
  padding: 20px 30px;
  font-size: 16pt;
  font-family: 'Raleway-Regular', "Century Gothic", arial; 
  font-weight: 300;
}
strong{
  font-family:'Raleway-Bold';
}
a {
  color: #39C;
  font-weight: 400;
}
a:hover {
  color: #FF9900;
}
a.sel {
  color: #000;
  text-decoration: none;
}
#github {
  position: absolute;
  right: 30px;
  top: 7px;
}
@media only screen and (max-width: 465px) {
  #github {
    display: none;
  }
}

.smallPix img{
  margin: 10px 10px 20px 20px;
  height: 140px;
  min-width: 105px;
}
.smallPix1 img{
  margin: 10px 10px 20px 20px;
  border: solid 1px silver;
  height: 140px;
}
.mediumPix img{
  margin: 10px 10px 20px 20px;
  height: 200px;
}
.linkMore{
  position: relative;
  top: -20px;
}
.sociallinks img{
  margin: 10px 10px 0 0;
  width:30px;
} 
.avatar{
  float:right;
  width: 300px;
  padding: 15px;
  margin: 0 10px 10px 20px;
  background-color: white;
}
.avatar > img{
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.foureux{
  margin-top: 50px;
  width: 455px;
  height: 364px;
}